@keyframes fade_in {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes fade_out {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

.alert_container {
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 0px 0px 1px #000000, 0px 0px 1px #000000;
    animation-name: fade_in,fade_out;
    animation-duration: 3s, 3s;
    animation-delay: 1s, 5s;
}

.alert_title {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
}
